In [ ]:
#Descarga los paquetes necesarios por si alguien no los tiene
!pip install pandas
!pip install sqlite3 
!pip install numpy
!pip install seaborn

In [63]:
#Llamamos las librerias
import sqlite3 as sql
import pandas as pd
import numpy as np # Algebra linear
import seaborn as sns
import matplotlib.pyplot as plt

In [66]:
conn = sql.connect("data/travel.sqlite")
query = '''
   SELECT * FROM aircrafts_data
'''
Aviones = pd.read_sql_query(query,conn)
aviones = pd.DataFrame(Aviones)
#aviones = print(aviones)
#   cursor = conn.cursor()
#    cursor.execute("SELECT * FROM aircrafts_data")
#   results = cursor.fetchall()
#    results_df = pd.DataFrame(results)
#    print(results_df) 
print(aviones)
conn.close()

  aircraft_code                                              model  range
0           773    {"en": "Boeing 777-300", "ru": "Боинг 777-300"}  11100
1           763    {"en": "Boeing 767-300", "ru": "Боинг 767-300"}   7900
2           SU9  {"en": "Sukhoi Superjet-100", "ru": "Сухой Суп...   3000
3           320  {"en": "Airbus A320-200", "ru": "Аэробус A320-...   5700
4           321  {"en": "Airbus A321-200", "ru": "Аэробус A321-...   5600
5           319  {"en": "Airbus A319-100", "ru": "Аэробус A319-...   6700
6           733    {"en": "Boeing 737-300", "ru": "Боинг 737-300"}   4200
7           CN1  {"en": "Cessna 208 Caravan", "ru": "Сессна 208...   1200
8           CR2  {"en": "Bombardier CRJ-200", "ru": "Бомбардье ...   2700

1. **¿Que es diferencias en los rendimientos de diferentes modelos de aviones?**
2. **¿Analizar la frecuencia de problemas técnicos en los aviones y su impacto en los vuelos?**
3. **¿Investigar la relación entre las características de los aviones y su número de billetes vendidos?**
4. **¿Analizar la demanda por diferentes tipos de aviones en diferentes países?**

In [ ]:



#top_products = pd.read_sql_query(query,conn)

#top_products.plot(x="ProductName",y="Revenue",kind="bar",figsize=(10,5),legend=False)

#plt.title("10 Productos mas rentables")

#plt.xlab("Productos")
#plt.ylabel("Revenue")
#Plt.xticks(rotation=90)
#plt.show()

#Obteniendo los 10 empleados mas efectivos

#query2 = '''
#    SELECT FirstName || "" || LastName as Employee, COUNT(*)
#    FROM Orders o
#    JOIN Employees e
#    ON e.EmployeeID = o.EmployeeID
#    GROUP BY o.EmployeeID
#    ORDER BY Total DESC
#    LIMIT 10
#'''

#top_employees = pd.read_sql_query(query2,conn)

#top_products.plot(x="Employee",y="Total",kind="bar",figsize=(10,5),legend=False)

#plt.title("10 Empleados mas efectivos")

#plt.xlab("Empleados")
#plt.ylabel("Total vendido")
#Plt.xticks(rotation=45)
#plt.show()