In [ ]:
E.	Entre los modelos de aviones con los códigos: CR2, 733 y CN1 se desea conocer lo siguiente: 
1	El promedio y la variabilidad de los vuelos realizados.
2	¿Cuántos de estos modelos tienen una mayor cantidad de vuelos realizados con boletos pertenecientes a la clase Business?

SELECT  aircraft_code, status, count ( status) AS 'Frecuencia de los vuelos realizados'
FROM flights
WHERE status IN ("Arrived") AND aircraft_code IN ('CR2','733','CN1')
GROUP BY aircraft_code
ORDER BY 'Frecuencia de los vuelos realizados' DESC;

In [1]:
import pandas as pd
import sqlite3
import matplotlib

#Conexion con la base de datos 
conn = sqlite3.connect("travel.sqlite")

In [ ]:
seats= 'ELECT  aircraft_code, status, count ( status) AS 'Frecuencia de los vuelos realizados'
FROM flights
WHERE status IN ("Arrived") AND aircraft_code IN ('CR2','733','CN1')
GROUP BY aircraft_code
ORDER BY 'Frecuencia de los vuelos realizados' DESC;'

DF_seats =pd.read_sql_query(sql = seats, con=conn)
DF_seats